.mainPageShowLogicShop .background {
    overflow-y: hidden;
    height: auto;
}

.shopAllProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.shopProduct {
    display: flex;
    background-color: rgb(39, 39, 39);
    padding: 20px;
    border-radius: 20px;
    z-index: 10;
    flex-direction: column;
    position: relative;
    transition: transform 0.5s ease;
}

.shopProduct:hover {
    cursor: pointer;
}

.shopProduct img {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.productName {
    font-size: 35px;
    width: 250px;
    border-bottom: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productPrice {
    font-size: 40px;
}

.noProducts {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 40px;
}