@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');


.backgroundShop {
    background-color: #000;
    height: auto;
}

.shopAllCost {
    width: 100px;
    height: 32px;
    border-radius: 10px;
    background-color: white;
    color: #000;
    margin-left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productHeaderName {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.productSocialHeader {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 60px;
}

.productSocialHeader img {
    width: 30px;
    height: 30px;
}

.buttonBack {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-top: 3px;
}

.buyOrDie {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    gap: 30px;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.productBuyNowButton,
.productAddToCartButton {
    width: 140px;
    border: 1px solid white;
    color: white;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDetailsFlex {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    gap: 10px;
    color: #C0C0C0;
    font-family: 'Bebas Neue', sans-serif;
}

.productShopName {
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 100%;
    max-width: 570px;
    aspect-ratio: 1 / 1;
    z-index: 10;
}

.imageProductShop {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 100%;
    max-width: 570px;
    aspect-ratio: 1 / 1;
    position: absolute;
    transition: 0.1s all;
    z-index: 1;
}

.productNameOne,
.productNameTwo {
    position: absolute;
    font-size: 10vw; /* Респонсивний розмір */
}

.productNameOne {
    left: -250px;
    bottom: 190px;
    z-index: 3;
}

.productNameTwo {
    right: -250px;
    bottom: 150px;
}

.productNameThree {
    position: absolute;
    font-size: 5vw; /* Респонсивний розмір */
    bottom: -20px;
    right: 50px;
}

.letters-shop-products-2 .productNameOne {
    left: -150px;
}
.letters-shop-products-2 .productNameTwo {
    right: -50px;
}
.letters-shop-products-2 .productNameThree {
    right: 40px;
    bottom: 100px;
}

.letters-shop-products-4 .productNameOne {
    left: -150px;
}
.letters-shop-products-4 .productNameTwo {
    right: -250px;
}

.letters-shop-products-5 .productNameOne {
    left: -200px;
}
.letters-shop-products-5 .productNameTwo {
    right: -190px;
}
.letters-shop-products-5 .productNameThree {
    right: -190px;
    bottom: 120px;
}

.letters-shop-products-6 .productNameOne {
    left: -250px;
}
.letters-shop-products-6 .productNameTwo {
    right: -90px;
}
.letters-shop-products-6 .productNameThree {
    right: -80px;
    bottom: 120px;
}

.letters-shop-products-7 .productNameOne {
    left: -130px;
}
.letters-shop-products-7 .productNameTwo {
    right: -250px;
}
.letters-shop-products-7 .productNameThree {
    right: -180px;
    bottom: 120px;
}

.letters-shop-products-8 .productNameOne {
    left: -130px;
}
.letters-shop-products-8 .productNameTwo {
    right: -130px;
}
.letters-shop-products-8 .productNameThree {
    right: -200px;
    bottom: 120px;
}

.letters-shop-products-9 .productNameTwo {
    right: -190px;
}

.letters-shop-products-10 .productNameOne {
    left: 120px;
    top: 220px;
}
.letters-shop-products-10 .productNameTwo {
    right: 130px;
}
.letters-shop-products-10 .productNameThree {
    right: 200px;
    bottom: 120px;
}

.letters-shop-products-11 .productNameOne {
    left: -130px;
}

.letters-shop-products-11 .productNameThree {
    right: -200px;
    bottom: 120px;
}

.letters-shop-products-12 .productNameOne {
    left: -130px;
}
.letters-shop-products-12 .productNameTwo {
    right: -130px;
}
.letters-shop-products-12 .productNameThree {
    right: -200px;
    bottom: 120px;
}

.letters-shop-products-13 .productNameOne {
    left: 50px;
}
.letters-shop-products-13 .productNameTwo {
    right: -70px;
}
.letters-shop-products-13 .productNameThree {
    right: -170px;
    bottom: 120px;
}

.letters-shop-products-14 .productNameOne {
    left: 50px;
    top: 10px;
}
.letters-shop-products-14 .productNameTwo {
    top: 10px;
    right: 70px;
}
.letters-shop-products-14 .productNameThree {
    right: -170px;
    top: 150px;
    bottom: 120px;
}

.letters-shop-products-15 .productNameOne {
    left: -110px;
}
.letters-shop-products-15 .productNameTwo {
    right: -190px;
    bottom: 110px;
}
.letters-shop-products-15 .productNameThree {
    bottom: -10px;
}

.letters-shop-products-16 .productNameOne {
    top: 10px;
    left: 0;
}
.letters-shop-products-16 .productNameTwo {
    bottom: -10px;
}

.letters-shop-products-17 .productNameOne {
    left: -110px;
}
.letters-shop-products-17 .productNameTwo {
    right: -190px;
    bottom: 110px;
    z-index: 1000;
}
.letters-shop-products-17 .productNameThree {
    bottom: -10px;
}

.letters-shop-products-19 .productNameOne {
    top: 10px;
    left: 0;
}
.letters-shop-products-19 .productNameTwo {
    bottom: -10px;
}

.letters-shop-products-22 .productNameOne {
    left: -220px;
}
.letters-shop-products-22 .productNameTwo {
    right: -150px;
    bottom: 110px;
}
.letters-shop-products-22 .productNameThree {
    bottom: -10px;
}

.letters-shop-products-23 .productNameOne {
    left: -190px;
}
.letters-shop-products-23 .productNameTwo {
    right: -170px;
    bottom: 110px;
}
.letters-shop-products-23 .productNameThree {
    bottom: -10px;
}

.letters-shop-products-24 .productNameOne {
    left: -170px;
}
.letters-shop-products-24 .productNameTwo {
    right: -250px;
    bottom: 110px;
}
.letters-shop-products-24 .productNameThree {
    bottom: -10px;
}

.letters-shop-products-26 .productNameOne {
    left: 100px;
    top: 10px;
}
.letters-shop-products-26 .productNameTwo {
    right: 230px;
    top: 10px;
}
.letters-shop-products-26 .productNameThree {
    bottom: 50px;
}

.letters-shop-products-29 .productNameOne {
    left: -110px;
}
.letters-shop-products-29 .productNameTwo {
    right: -110px;
}
.letters-shop-products-29 .productNameThree {
    bottom: 110px;
    right: -30px;
}

.letters-shop-products-30 .productNameOne {
    left: -110px;
}
.letters-shop-products-30 .productNameTwo {
    right: -110px;
}
.letters-shop-products-30 .productNameThree {
    bottom: 110px;
    right: -30px;
}

.productDetails {
    overflow: visible;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #252525;
    padding: 30px 35px 15px;
    border-radius: 20px;
    width: 600px;
}

.productDetails .productDetailsName {
    font-size: 40px;
}

.productDetails .productDetailDesc {
    font-size: 25px;
}

.productDetails .productAllChar {
    bottom: 1;
}

.productDetails .productAllChar .productChar {
    font-size: 25px;
}

.productDetails .productSeller {
    font-size: 25px;
}

.productDetails .productPrice {
    font-size: 30px;
}

.productColorChooses,
.productSizeChooses {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.productColorChoose,
.productSizeChoose {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: 3px solid #252525;
    transition: all 0.5s;
}

.productSizeChoose:hover {
    background-color: rgb(122, 122, 122);
    cursor: pointer;
}

.productDetails .productBeat {
    background-image: url(http://localhost:3000/images/imageForBeat.png);
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    right: -70px;
    top: 5px;
    transition: all 1s;
}

.productBeatTwo {
    background-image: url(http://localhost:3000/images/imageForBeat.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    position: absolute;
    left: -30px;
    bottom: -50px;
    transform: rotate(30deg);
    transition: all 0.5s;
}

.productDetails:hover .productBeat {
    scale: 0.7;
}

.productDetails:hover .productBeatTwo {
    scale: 1.5;
    position: absolute;
}

.productQuantityContainer {
    display: flex;
    margin-top: 20px;
    transition: all 0.5s;
}

.productQuantity {
    font-size: 30px;
    display: flex;
    border-top: 3px solid #5a5a5a;
    border-bottom: 3px solid #5a5a5a;
    align-items: center;
    justify-content: center;
}

.productQuantityContainer .productHowMuch,
.productHowMuch2 {
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #5a5a5a;
    transition: all 0.5s;
}

.productQuantityContainer .productHowMuch {
    border-radius: 30% 0% 0% 30%;
    border-right: none;
}

.productQuantityContainer .productHowMuch2 {
    border-left: none;
    border-radius: 0% 30% 30% 0%;
}

.productHowMuch:hover {
    cursor: pointer;
    scale: 1.05;
    border-right: 3px solid #5a5a5a;
}

.productHowMuch2:hover {
    border-left: 3px solid #5a5a5a;
    cursor: pointer;
    scale: 1.05;
}

.productDetailContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productDetailContainer .flexForButtons {
    display: flex;
    gap: 10px;
}

.productDetailBuy {
    border: 1px solid #5a5a5a;
    width: 115px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.productDetailBuy:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.productDetailsNav {
    color: #C0C0C0;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100px;
    z-index: 10;
    position: relative;
    border-top: 1px solid gray;
    margin-top: 30px;
    align-items: center;
}

.productDetailsNavButton {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

.productDetailsNavButton:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.productDetailsContent {
    color: white;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #000;
    z-index: 10;
}

.productDesc {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    justify-content: center;
    gap: 20px;
}

.productDescInfo {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.productDescImages {
    position: relative;
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 570px;
    height: 570px;
    overflow: hidden;
    padding: 10px;
}


.productDescImage {
    background-size: cover;
    background-repeat: no-repeat;
    width: 570px;
    height: 570px;
    position: absolute;
    z-index: 2;
}

.productDescImageBack {
    position: absolute;
    width: 570px;
    height: 570px;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.productDetailDesc {
    text-align: center;
    border: 3px solid #252525;
    padding: 20px;
    background-image: url(http://localhost:3000/images/texture_black2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productDetailDescRecom {
    border: 3px solid #252525;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    flex-direction: row-reverse;
}

.productRecom {
    background-color: #252525;
    padding: 20px;
    width: 50%;
    margin-left: 10px;
}

.productDetailDescAdditional {
    display: flex;
    font-size: 20px;
    justify-content: center;
    border-top: 3px solid #252525;
    margin-top: 10px;
    padding-top: 10px;
}

.additionalInfo {
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}



.productRecomText {
    font-size: 20px;
}

.productRecomIcon {
    display: flex;
    width: 20%;
    gap: 10px;
    align-items: center;
    width: 300px;
}

.productRecomIcon img {
    width: 32px;
    height: 32px;
}

.additionalFlex {
    display: flex;
    gap: 10px;
}

.textForOtherProductBig {
    font-size: 180px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-align: center;
    color: #242424;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textForOtherProductSmall {
    position: absolute;
    font-size: 90px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    opacity: 0.8;
}

.otherProducts .shopAllProducts {
    color: #C0C0C0;
    font-family: 'Bebas Neue', sans-serif;
}

.loadMoreFlex {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.loadMoreButton {
    padding: 10px;
    border: 3px solid #252525;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 50%;
}