


.headerShop, .headerShopProductDetails {
    background-color: #000;
    border: 3px solid gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #c0c0c0;
    justify-content: space-between;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.headerShop .logo::after {
    content: "CLOTHES";
    position: absolute;
    font-size: 15px;
    bottom: 0px;
    left: 2px;
}

.headerShop .shopAllCost {
    margin: 0;
}



.shopSearch {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.shopSearch input {
    all: unset;
    /* background-image: url(../../../../all-images/search-interface-symbol.png); */
    background-repeat: no-repeat;
    background-size: 17px;
    background-position-x: 15px;
    background-position-y: center;
    background-color: white;
    padding: 7px;
    padding-left: 45px;
    width: 30%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    color: black;
    border: none;
}

.shopSearch .button {
    padding: 7px;
    height: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: #C0C0C0;
    display: flex;
    font-size: 17px;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    background-color: #4e4c4c;
}

.nameForSelectProduct {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    margin-left: 200px;
}

.shopUserInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}
