.infoAboutStocks {
    width: auto;
}

.userAllMoneyInExchange {
    display: flex;
    flex-direction: column;
}

.totalInvestmentBalance {
    font-size: 80px;
    font-family: "Electrolize", sans-serif;
    color: #f2f2f2;
}

.infoAboutUserStocks {
    width: 100%;
}

.totalInvestmentBalanceFlex {
    display: flex;
    position: relative;
}

.percHoldings {
    position: absolute;
    right: 0px;
    bottom: -20px;
}
.exchangeForMoneyInfoHolding {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #6a6a6a;
    flex-wrap: wrap;
}