 /* Extra small devices (до 576px) */
 @media (max-width: 575.98px) {
     .container {
         margin-top: 90px;
     }

     .card {
         padding: 40px;
         width: 75%;
     }

     .text-greeting {
         font-size: 70px !important;
     }

     .card:hover {
         width: 75% !important;
     }

     .work-card {
         width: 100%;
     }

     .forResp {
        height: 150vh;
        margin-top: 350px;
     }

 }

 /* Small devices (576px до 768px) */
 @media (min-width: 576px) and (max-width: 767.98px) {
     .card {
         padding: 40px;
         width: 70%;
     }

     .container {
         margin-top: 90px;
     }

     .text-greeting {
         font-size: 70px !important;
     }

     .card:hover {
         width: 70% !important;
     }

     .forResp {
        margin-top: 150px;
     }
 }

 /* Medium devices (768px до 992px) */
 @media (min-width: 768px) and (max-width: 991.98px) {
     .card {
         padding: 40px;
         width: 70%;
     }

     .container {
         margin-top: 90px;
     }

     .text-greeting {
         font-size: 70px !important;
     }

     .card:hover {
         width: 70% !important;
     }

     
     .forResp {
        margin-top: 150px;
     }
 }

 /* Large devices (992px до 1200px) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
     .card:hover {
         cursor: pointer;
         width: 400px;
     }
 }

 /* Extra large devices (1200px до 1400px) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {
     .card {
         width: 500px;
     }

     .card:hover {
         width: 490px;
     }
 }

 /* Extra extra large devices (1400px і більше) */
 @media (min-width: 1400px) {}